ul {
    color: goldenrod;
}

html {
    font-family: 'Source Code Pro', monospace;
}

h1 {
    font-size: 60px;
    text-align: center;
}
p, li {
    width: 400px;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}